@keyframes flexrotate
{
	 0% {transform:rotateX(0deg);}
    25% {transform: rotateX(-1deg);}
    50% {transform: rotateX(-1deg);}
    75% {transform: rotateX(-1deg);}
    100% {transform:rotateX(0deg);}
}
.flex
{
	display: none;
	color: white;
	flex-direction: column;
	background-color: rgba(37,37,37,1);
	position: absolute;
	z-index: 11;
	justify-content: center;
	transition: all 0.3s cubic-bezier(1,.08,.58,1.02);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.flex.active
{	
	display: flex;
	top: 0px !important;
	left: 0px !important;
	width: 100vw !important;
	height: 100vh !important;
}
.head
{
	display: flex;
	flex-direction: row;
	justify-content: center;
}
#heading
{
	font-weight: bold;
	font-size: 2.1rem;
	margin: 40px 0;
}
#category {
	font-size: 2rem;
}
#close
{
	position: absolute;
	z-index: 9;
	width: 50px;
	height: 50px;
	right: 50px;
	transform-origin: center center;
	cursor: pointer;
}
#closeb,#closea
{
	position: absolute;
	content: ' ';
	width: 30px;
	height: 3px;
	background-color: white;
	top: 30px;
}
#closeb
{	transform: rotate(45deg);
}
#closea
{	transform: rotate(-45deg);
}
#close:hover > #closea
{
	animation: flexantirotate 0.5s linear;
	
}
#close:hover > #closeb
{
	animation: flexrotate 0.5s linear;
	
}
@keyframes flexrotate 
{
	0%,100%
	{
		transform: rotate(45deg);
	}
	50%
	{
		transform: rotate(0deg);
	}
}
@keyframes flexantirotate
{
	0%,100%
	{
		transform: rotate(-45deg);
	}
	50%
	{
		transform: rotate(0deg);
	}
}
.flex-content
{	display: flex;
	max-height: 75vh;
	margin:auto;
	flex-direction: column;
	font-size: 1.5rem;
	max-width: 600px;
	text-align: center;
	overflow-y: auto;
}
.flex-content p 
{
	margin:auto;
}
#fl_desc, #fl_rules {
	font-size: 1.2rem;
	margin: 10px 0 15px 0;
}
#fl_rules {
	text-align: justify;
}
#fl_rules li {
	list-style: inside !important;
}
#fl_rules a {
	font-weight: bold;
	text-decoration: underline;
}
