@font-face {
    font-family: 'Roboto Condensed';
    src: url(../fonts/Roboto_Condensed/RobotoCondensed-Italic.ttf);
}
@font-face {
    font-family: 'azo';
    src: url(../fonts/bold.otf);
}
@font-face {
    font-family: 'azoi';
    src: url(../fonts/italic.otf);
}