#main{
	background:transparent;	
}

.middlesection{
	background: transparent;
}

.Title{
	color: #fff;
}

.tech .letter{
	letter-spacing: .3rem
}

.techcont *, .techcont{
	/*border: 1px solid #fff;*/
	font-family: azo;
}

.techcont{
	width: auto;
	flex-direction: column;
	position: relative;
}

.techcont .top{
	position:absolute;
}

.Title .hover_animation_done .top .letter{
	top: 0rem;
}

.Title .top .letter{
	top: -3rem;	
}

#background{
	position: absolute;
	top: -75vh;
	left: -50vw;
	width: 200vw;
	height: 260vh;
	z-index: -2;
	background: url('../images/img2.jpg');
	background-position: center;
	animation: flow 100s linear infinite;
	/* transform: rotate(115deg); */
	/* transform: scale(215.1,113.1); */
}

@keyframes flow{
	from{
		transform: rotateZ(0deg);
	}
	to{
		transform: rotateZ(360deg);	
	}
}

#borders{
	position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    background: transparent;
    border: 16px solid #fff;
}

@media only screen and (max-width: 600px){
	#borders{
		border-width: 8px;
	}
}
ul.hidden,footer ul
{
	font-family: azoi;
}


