@font-face {
    font-family: 'azo';
    src: url(../fonts/bold.otf);
}
*{
    margin: 0px;
    padding: 0px;
    border: 0px;
    outline: 0px;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
}

body{
    background-color: #333333;
    background-image: url('../img/rg1.svg');
    background-size: 300% 300%;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
}

#head{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: azo;
    position: relative;
    width: 100%:;
    /* margin-top: 5%; */
}

#head div span{
    position: absolute;
    font-size: 70px;
    font-family:'azo';

}
#head2 span:nth-child(1){
    color: #ffffff;
    z-index: 10;
}
#head2 span:nth-child(2){
    transform: translateY(5px);
    color: #07fe8d;
    z-index: 5;
}
#head2 span:nth-child(3){
    transform: translateY(10px);
    color: #00b46c;
    z-index: 0;
}

#mains{
    display: flex;
    position: relative;
    align-self: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 900px;
    height: 75vh;
    justify-content: center;
    overflow-y: scroll;
    margin-top: 20px;
}

.sponsor {
    display: flex;
    width: 30%;
    height: 270px;
    background: #fff;
    margin: 10px 1.66%;
    flex-direction: column;
}

.slogo {
    flex: 1;
    width: 100%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.stitle {
    height: 30px;
    color: #000;
    width: 100%;
    text-align: center;
}

@media all and (max-width: 700px) {
    .sponsor {
        width: 45%;
        margin: 10px 2.5%;
    }
}

@media all and (max-width: 500px) {
    .sponsor {
        width: 90%;
        margin: 10px 5%;
    }
}

/*.spons-logo:nth-child(1){
    background-image: url('../img/001STUFFLOGO-01.png');
}

.spons-logo:nth-child(2){
    background-image: url('../img/HalfBakedBeans.png');
}

.spons-logo:nth-child(3){
    background-image: url('../img/IgniteEngineers.png');
}

.spons-logo:nth-child(4){
    background-image: url('../img/KnowAFest.com.png');
}

.spons-logo:nth-child(5){
    background-image: url('../img/logo.jpg');
}

.spons-logo:nth-child(6){
    background-image: url('../img/ATLogoPNG');
}

.spons-logo:nth-child(7){
    background-image: url('../img/ScientificIndiaLogo.jpg');
}

.spons-logo:nth-child(8){
    background-image: url('../img/TCFLOGO.png');
}
*/
.s1{
    background-image: url('../img/001STUFFLOGO-01.png');
}

.s2{
    background-image: url('../img/HalfBakedBeans.png');
}

.s3{
    background-image: url('../img/IgniteEngineers.png');
}

.s4{
    background-image: url('../img/KnowAFest.com.png');
}

.s5{
    background-image: url('../img/logo.jpg');
}

.s6{
    background-image: url('../img/ATLogoPNG.png');
}

.s7{
    background-image: url('../img/ScientificIndiaLogo.jpg');
}

.s8{
    background-image: url('../img/TCFLOGO.png');
}

/*.spons-logo:nth-child(9){
    background-image: url('001STUFFLOGO-01.png');
}
.spons-logo:nth-child(10){
    background-image: url('001STUFFLOGO-01.png');
}*/


